<footer>
    <div class="contenedorFooter">
        <img class="logoFooter" src="./imagenes/logo.jpg" alt="logo">
        <div class="footerProductos">
            <p>Productos</p>
            <a href="#">Hora de Dormir</a>
            <a href="#">Hora de jugar</a>
            <a href="#">Hora de Pasear</a>
            <a href="#">Hora de Comer</a>
        </div>
        <div class="footerNosotros">
            <p>Nosotros</p>
            <a href="#">Filosofía</a>
        </div>
        <div class="footerContacto">
            <p>Contacto</p>
            <a href="#">Contacto</a>
        </div>
        <div class="footerContactanos">
            <p>Contactanos!</p>
            <div>Tel: 11-5566-5566<br>
                Av. Alvear 1234<br>
                hola@tinokitos.com.ar</div>
        </div>
        <div class="footerRedes">
            <p>Seguinos en redes!</p>
            <div class="iconosFooter"><i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-pinterest"></i>
            </div>
        </div>

</footer>