<header>
    <div class="presentacion">
        <p>Bienvenidos ❤!! Hacemos envios a todo el país - 5% off pagando por transferencia - 3 cuotas sin interés
        </p>
    </div>

    <div class="navSuperiorMovile">
        <div class="menu"><i class="fa-solid fa-bars"></i>
            <p>MENÚ</p>
        </div>
        <a href="/"><img src="/imagenes/logo achicado.jpg" alt="logo"></a>
        <div class="lupaYCarrito">
            <div class="buscarMovil"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="carrito"><a href="/productos/productCart"><i class="fa-solid fa-cart-shopping"></i></div></a>
        </div>
    </div>

    <div class="navSuperiorDesktop">
        <div class="buscar"><input type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <a href="/"><img src="/imagenes/logo achicado.jpg" alt="logo"></a>
        <div class="crearIniciarCarrito">
            <a href="/usuarios/register">Crear Sesión</a>
            <p> | </p>
            <a href="/usuarios/login">Iniciar Sesión</a>
            <div class="carrito"><a href="/productos/productCart"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </div>
    </div>

    <div class="navBar">
        <a href="/productos/horaDeDormir">Hora de Dormir</a>
        <a href="/productos/horaDeJugar"> Hora de jugar</a>
        <a href="/productos/horaDePasear">Hora de Pasear</a>
        <a href="../productos/horaDeComer">Hora de Comer</a>
        <a href="">Filosofia</a>
        <a href="">Contacto</a>
    </div>

</header>