<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesContactanos.css">
    <title>Tinokitos Contactanos</title>
    </head>

    <body>
        <%-include("./partials/header")%>
            <main>

                <div class="contactanos">
                    <img src="/imagenes/sobre.jpg" alt="">
                    <p class="texto">
                        Tel: 11-5566-5566<br>
                        Av. Alvear 1234<br>
                        hola@tinokitos.com.ar
                    </p>
                </div>

            </main>
            <%-include("./partials/footer")%>

    </body>


    </html>