<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesCrear.css">
    <title>Crear Producto</title>
    </head>

    <body>
        <a href=""><i class="fa-solid fa-circle-user"></i></a>
        <br>
        <br>

        <form action="/administrador/createProduct" method="POST" enctype="multipart/form-data">
            <p>Crear un producto</p>
            <label for="nombreProducto">Nombre del producto</label>
            <br>
            <input type="text" name="nombre" placeholder="Ej: Cochecito bebé" required>
            <br>
            <label for="categoriaProducto">Categoria del producto</label>
            <br>
            <input type="text" name="categoria" placeholder="Hora de Jugar" required>
            <br>
            <label for="descripcion">Descripción del producto</label>
            <br>
            <textarea name="descripcionProducto" name="descripcion" id="descripcion" cols="30" rows="10"
                required></textarea>
            <br>
            <br>
            <label for="fotoProducto">Foto del producto</label>
            <br>
            <input type="file" name="fotoProducto" multiple required>
            <br>
            <br>
            <label for="precioProducto">Precio del producto</label>
            <br>
            <input type="number" name="precioProducto" placeholder="00,00" required>
            <br>
            <br>
            <label for="stockProducto">Stock</label>
            <br>
            <input type="number" name="stockProducto" placeholder="1" required>
            <br>
            <br>
            <label for="Condicion">Condición</label>
            <br>
            <select name="condicion" id="condicion">
                <option value="General">General</option>
                <option value="Destacado">Destacado</option>
            </select>
            <br>
            <br>
            <input class="crearProducto" type="submit" value="CREAR PRODUCTO">
            <br>
            <br>
            <input class="cancelar" type="reset" value="CANCELAR">
        </form>

    </body>

    </html>