<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesEditar.css">
    <title> Editar Productos</title>
    </head>

    <body>
        <a href=""><i class="fa-solid fa-circle-user"></i></a>
        <br>
        <br>
        
        <form action="/crearProducto" method="GET">
            <p>Editar un producto</p>
            <label for="nombreProducto">Nombre del producto</label>
            <br>
            <input type="text" value="Cochecito Premium 3 en 1" required>
            <br>
            <br>
            <label for="descripcionProducto">Descripción del producto</label>
            <br>
            <textarea name="descripcionProducto" id="" cols="30" rows="10">"* Convertible en moisés y asiento, el asiento se trasforma en moisés adaptándose a las diferentes etapas del bebé, se usa mirando hacia delante como hacia atrás, y en ambas modalidades, como asiento o como moisés * Ideal de 0 hasta 36 meses de edad. * Posee amortización en el cuadro y en las ruedas. * Respaldo de asiento reclinable, 3 posiciones de reclinado en ambos sentidos. * Incluye cubre pies, mosquitero., posa vaso, acolchado, canasto porta objetos. * Manillar regulable en altura con lazo de seguridad. * Rudas delanteras móviles. * Ruedas traseras todo terreno, de goma maciza con freno centralizado. * Amortiguación en ruedas y estructura. * Las ruedas delanteras y traseras pueden ser retiradas de manera sencilla, gracias a su botón, para que puedas guardar el coche ocupando el menor espacio posible. * El manillar del coche puede regularse en 3 posiciones * La parte trasera del asiento cuenta con un visor de malla, para ver a tu bebé durante el paseo con el asiento orientado hacia delante. * Capota XXL con borde reforzado y visera, para proteger a tu bebé de los rayos solares * Sistema de seguridad arnés de 5 puntos. * Barral frontal extraíble. * Materiales de calidad." cols="30" rows="10" required></textarea></textarea>
            <br>
            <br>
            <label for="fotoProducto">Foto del producto</label>
            <br>
            <input type="file" name="fotoProducto"multiple required>
            <br>
            <br>
            <img src="/imagenes/cochePremium.jpg" alt="">
            <br>
            <br>
            <label for="precioProducto">Precio del producto</label>
            <br>
            <input type="number" value="$75700" required>
            <br>
            <br>
            <label for="stockProducto">Stock</label>
            <br>
            <input type="number" value="10" required>
            <br>
            <br>
            <br>
            <input class="editarProducto" type="submit" value="EDITAR PRODUCTO">
            <br>
            <br>
            <input class="cancelar" type="reset" value="CANCELAR">
        </form>

    </body>


    </html>