<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles404.css">
    <title> Error 404</title>
    </head>

    <body>
       <div class="error">
        <img src="/imagenes/404.jpg" alt="error404">
        <h2>ERROR 404 :-/</h2>
        <p>No te preocupes!</p>
        <a href="/"><button>VOLVER A LA TIENDA</button></a>
       </div>
    </body>


    </html>