
    
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesFilosofia.css">
    <title>Tinokitos Filosofia</title>
</head>

<body>
    <%-include("./partials/header")%>
    <main>
        <p class="filosofia"> Elegimos realizar un e.commerce orientado a la venta de productos para bebés y primera infancia. 
            Orientamos nuestro diseño en paleta de colores cálidos, donde se brinde una sensación de serenidad y crianza respetada. 
            Los productos que vamos a ofrecer son:  Coches, Practicunas, Sillas de comer, Andadores, Juguetes entre otros!
            Una oferta interesante con un estilo único, con el objetivo de probar nuestras habilidades.
            Por otro lado varias integrantes contamos con experiencia en el rubro por tanto nos pareció interesante apostar a un diseño
            innovador y renovado de lo que actualmente disponemos como herramientas laborales.</p>
                
            <div class="imagenes">  
            <img src="/imagenes/meli.jpg" alt="">
            <img src="/imagenes/caro.jpg" alt="">
            <img src="/imagenes/cin.jpg" alt="">
            <img src="/imagenes/mica.jpg" alt=""></div>

            </div>
        </section>
    </main>
    <%-include("./partials/footer")%>

</body>


</html>