<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Tinokitos Home</title>
</head>

<body>
    <header>
<div class="presentacion">
 <p>Bienvenidos ❤!! Hacemos envios a todo el país - 5% off pagando por transferencia - 3 cuotas sin interés</p></div>
 
<p><input type="text" placeholder="Buscar">
</p><i class="fa-solid fa-magnifying-glass"></i>


 <div class="logo"><img src="imagenes/logo.jpg" alt="logo"></div>


<p>Crear Cuenta</p>
<P>Iniciar Sesión</P>
<i class="fa-solid fa-cart-shopping"></i>

<div class=""> 
<a href="">Hora de Dormir</a>
<a href=""> Hora de jugar</a>
<a href="">Hora de Pasear</a>
<a href="">Hora de Comer</a>
<a href="">Filosofia</a>
<a href="">Contacto</a></div>

</header>
<div class="banner"><img src="imagenes/banner.jpg" alt=""></div>
<main>
    <section>
        
        <article>
<div class="contenedor">
<img src="imagenes/hora-de-dormir.jpg" alt=""><div class="hora-de" hora de dormir><h1>Hora de Dormir</h1>
    <h3>Cunas, Sábanas, mantas, chichoneras, pijamas y todo lo que necesitan para estar cómodos toda la noche.</h3></div> 
<img src="imagenes/hora-de-jugar.jpg" alt="">
<img src="imagenes/paseo.jpg" alt="hora-de-pasear">
<img src="imagenes/paseo.jpg" alt="hora-de-comer">
</div>
       </article>
   </section>

</main>
<form action="/" method="get">
<div><button type="submit" class="boton">Ver todos los productos</button></div></form>
    
</body>
<footer></footer>
</html>