
     <%- include("./partials/head") %>

    <link rel="stylesheet" href="css/styles.css">
    <title>Tinokitos Home</title>
</head>

<body>

    <%- include("./partials/header") %>

    <main>

        <img class="banner-desktop" src="imagenes/banner.jpg" alt="">

        <img class="banner-cel" src="imagenes/banner-cel.jpg" alt="">
        <br>
        <section>

            <div class="contenedor-imagenes-cel">
                <article class="producto">
                    <img src="imagenes/hora-dormir-recortada.jpg" alt="">
                    <h1>Hora de Dormir</h1>
                    <h3>Cunas, sábanas, mantas, chichoneras, pijamas y todo lo que
                        necesitan para estar cómodos toda la
                        noche.</h3>
                    <form action="/" method="get">
                        <div class="contenedor-ver-mas"><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>


                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-jugar-recortada.jpg" alt="hora-de-jugar">
                    <h1>Hora de Jugar</h1>
                    <h3>Juguetes, mordillos, muñecos de apego y sonajeros para explorar el
                        mundo con la mayor diversión.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>

                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-pasear-recortada.jpg" alt="hora-de-pasear">
                    <h1>Hora de Pasear</h1>
                    <h3>Cochecitos, fulares y mochilas para salir de casa esquipados
                        y movernos con practicidad.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>

                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-comer-recortada.jpg" alt="hora-de-comer">
                    <h1>Hora de Comer</h1>
                    <h3>Utencillos, baberos y sillitas para que disfruten de nuevos sabores.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>
            </div>


        </section>

        <section>
            <div class="contenedor-imagenes-desktop">
                <article class="producto">
                    <img src="imagenes/hora-dormir-recortada.jpg" alt="hora-de-dormir">
                    <h1>Hora de Dormir</h1>
                    <h3>Cunas, sábanas, mantas, chichoneras, pijamas y todo lo que
                        necesitan para estar cómodos toda la
                        noche.</h3>
                    <form action="/" method="get">
                        <div class="contenedor-vermas"><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>


                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-jugar-recortada.jpg" alt="hora-de-jugar">
                    <h1>Hora de Jugar</h1>
                    <h3>Juguetes, mordillos, muñecos de apego y sonajeros para explorar el
                        mundo con la mayor diversión.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>

                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-pasear-recortada.jpg" alt="hora-de-pasear">
                    <h1>Hora de Pasear</h1>
                    <h3>Cochecitos, fulares y mochilas para salir de casa esquipados
                        y movernos con practicidad.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>

                <article class="producto">
                    <img class="imagenes" src="imagenes/hora-comer-recortada.jpg" alt="hora-de-comer">
                    <h1>Hora de Comer</h1>
                    <h3>Utencillos, baberos y sillitas para que disfruten de nuevos sabores.</h3>
                    <form action="/" method="get">
                        <div><button type="submit" class="boton-ver">VER MÁS</button>
                        </div>
                    </form>
                </article>
            </div>
        </section>

        <form action="/" method="get">
            <div><button type="submit" class="boton">Ver todos los productos</button></div>
        </form>
        <br>

        <section class="ofertas">
            <div class="texto">
                <div class="productos-destacados-cel"><h1>Productos Destacados</h1></div>
            </div>

            <div class="contenedor-productos-cel">
                <article class="ventas">
                    <img src="imagenes/plato-recortada.jpg" alt="plato de silicona">
                    <div class="texto">
                        <h2>Plato de Silicona</h2>
                        <h3>$3.200</h3>
                    </div>
                </article>

                <article class="ventas">
                    <img src="imagenes/bata-recortada.jpg" alt="bata">
                    <div class="texto">
                        <h2>Bata con Pantuflas</h2>
                        <h3>$7.900</h3>
                    </div>
                </article>

                <article class="ventas">
                    <img src="imagenes/silla-recortada.jpg" alt="silla de comer">
                    <div class="texto">
                        <h2>Silla de Comer</h2>
                        <h3>$25.000</h3>
                </article>

                <article class="ventas">
                    <img src="imagenes/baberos-recortada.jpg" alt="baberos">
                    <div class="texto">
                        <h2>Baberos de Silicona</h2>
                        <h3>$2200</h3>
                </article>
            </div>

            </div>

        </section>

        <section>

            <div class="productos-destacados-desktop"><h1>Productos Destacados</h1></div>
            <div class="contenedor-productos-desktop">
                <article class="ventas-desktop">
                <img src="imagenes/plato-recortada.jpg" alt="plato de silicona">
                <div class="texto">
                    <h2>Plato de Silicona</h2>
                    <h3>$3.200</h3>
                </div>
                </article>

                <article class="ventas-desktop">
                    <img src="imagenes/bata-recortada.jpg" alt="bata">
                    <div class="texto">
                        <h2>Bata con Pantufla</h2>
                        <h3>$7.900</h3>
                    </div>
                </article>

                <article class="ventas-desktop">
                    <img  src="imagenes/silla-recortada.jpg" alt="silla de comer">
                    <div class="texto">
                        <h2>Silla de Comer</h2>
                        <h3>$25.000</h3>
                </article>

                <article class="ventas-desktop">
                    <img src="imagenes/bebe-recortada.jpg" alt="baberos">
                    <div class="texto">
                        <h2>Abrigo Osito</h2>
                        <h3>$6900</h3>
                </article>

            </div>

        
            <div class="contenedor-productos-desktop">
                <article class="ventas-desktop">
                <img src="imagenes/coche-moises.jpg" alt="coche">
                <div class="texto">
                    <h2>Cochecito via</h2>
                    <h3>$55.500</h3>
                </div>
                </article>

                <article class="ventas-desktop">
                    <img src="imagenes/baberos-recortada.jpg" alt="huevito">
                    <div class="texto">
                        <h2>Babero de Silicona</h2>
                        <h3>$2.200</h3>
                    </div>
                </article>

                <article class="ventas-desktop">
                    <img  src="imagenes/nidito.jpg" alt="Nido de contención">
                    <div class="texto">
                        <h2>Nido de Contención</h2>
                        <h3>$25.000</h3>
                </article>

                <article class="ventas-desktop">
                    <img src="imagenes/huevito.jpg" alt="baberos">
                    <div class="texto">
                        <h2>Huevito de auto</h2>
                        <h3>$21.600</h3>
                </article>

            </div>
        </section>

    </main>

    <%-include("./partials/footer")%>

</body>



</html>