<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Tinokitos Registro</title>
</head>

<body>
    <main>
        <section class="contenedorlogin">
            <form action="/login" method="GET">
                <div>
                    <div>
                        <h4 class="formato"> MAIL</h4>
                        <input class="login1" type="e-mail" name="mail" placeholder="Mail">
                    </div>

                    <div>
                        <h4 class="formato"> CONTRASEÑA </h4>
                        <input class="login1" type="password" name="contraseña"
                            placeholder="Escribí aquí tu contraseña"><br>
                    </div>
                </div>
            </form>

            </div class="formato2">
            <h4>¿Olvidaste tu contraseña?</h4>
            <button class="cuenta"><a href="/login"> CREAR CUENTA</a></button>
            <div class="iniciar">
                <h4>¿Ya tenes una cuenta?</h4>
                <h4 class="subrayado">Iniciar sesión</h4>
            </div>
        </section>
    </main>
    <footer></footer>
</body>

</html>