<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>Tinokitos Login</title>
    </head>

    <body>
        <%-include("./partials/header")%>
            <main>
                <section class="contenedorlogin">
                    <form action="/usuarios/login" method="POST">
                        <div>
                            <div>
                                <h4 class="formato">MAIL</h4>
                                <input class="login1" type="e-mail" name="mail" placeholder="Mail">
                            </div>

                            <div>
                                <h4 class="formato"> CONTRASEÑA </h4>
                                <input class="login1" type="password" name="password"
                                    placeholder="Escribí aquí tu contraseña"><br>
                            </div>
                            <div>
                                <h4 class="formato">RECORDARME</h4>
                                <input class="login1" type="checkbox" name="recordarMail">
                            </div>

                        </div>

                        </div class="formato2">
                        
                        <div class="iniciar">
                        <input type="submit" class="cuenta" value="INGRESAR"></input>
                            </div>
                        <br>

                            <h4 class="formato">¿No tenes una cuenta?</h4>
                        
                            <a href="./register">
                                <h4 class="subrayado">Registrate</h4>
                            </a>

                        </div>
                    </form>


                </section>
            </main>
            <%-include("./partials/footer")%>

    </body>


    </html>