<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>Tinokitos Login</title>
    </head>

    <body>
        <%-include("./partials/header")%>
            <main>
                <section class="contenedorlogin">
                    <form action="/usuarios/login" method="POST">
                        <div>
                            <div>
                                <label class="formato" name="mail">MAIL</label>
                                <br>
                                <input class="login1" type="e-mail" name="email" placeholder="Mail">
                            </div>
                            <br>
                            <br>

                            <div>
                                <label class="formato" name="password"> CONTRASEÑA </label>
                                <br>
                                <input class="login1" type="password" name="password"
                                    placeholder="Escribí aquí tu contraseña"><br>
                            </div>
                            <br>
                            <br>
                            <div>
                                <label class="formato" name="recordarMail"> RECORDAME </label><input type="radio"name="recordarMail">
                            </div>

                        </div>

                        <div class="iniciar">
                            <input type="submit" class="cuenta" value="INGRESAR"></input>
                        </div>
                        <br>

                        <h4 class="formato">¿No tenes una cuenta?</h4>

                        <a href="./register">
                            <h4 class="subrayado">Registrate</h4>
                        </a>

                        </div>
                    </form>


                </section>
            </main>
            <%-include("./partials/footer")%>

    </body>


    </html>