
    
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesLogin.css">
    <title>Tinokitos Login</title>
</head>

<body>
    <%-include("./partials/header")%>
    <main>
        <section class="contenedorlogin">
            <form action="/login" method="POST" enctype="multipart/form-data">
                <div>
                    <div>
                        <h4 class="formato"> MAIL</h4>
                        <input class="login1" type="e-mail" name="mail" placeholder="Mail">
                    </div>

                    <div>
                        <h4 class="formato"> CONTRASEÑA </h4>
                        <input class="login1" type="password" name="contraseña"
                            placeholder="Escribí aquí tu contraseña"><br>
                    </div>
                </div>
            </form>

            </div class="formato2">
            <h4>¿Olvidaste tu contraseña?</h4>
            <button class="cuenta"><a href="/login"> INGRESAR</a></button>
            <div class="iniciar">
                <h4>¿No tenes una cuenta?</h4>
                <a href="./register"><h4 class="subrayado">Regitrate</h4></a>
                
            </div>
        </section>
    </main>
    <%-include("./partials/footer")%>

</body>


</html>