<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesProductCart.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Tinokitos Carrito</title>
</head>

<body>
    <header>
        <div class="presentacion">
            <p>Bienvenidos ❤!! Hacemos envios a todo el país - 5% off pagando por transferencia - 3 cuotas sin interés
            </p>
        </div>

        <div class="navSuperiorMovile">
            <div class="menu"><i class="fa-solid fa-bars"></i>
                <p>MENÚ</p>
            </div>
            <a href="/"><img src="imagenes/logo achicado.jpg" alt="logo"></a>
            <div class="lupaYCarrito">
                <div class="buscarMovil"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="carrito"><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></div></a>
            </div>
        </div>

        <div class="navSuperiorDesktop">
            <div class="buscar"><input type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <a href="/"><img src="imagenes/logo achicado.jpg" alt="logo"></a>
            <div class="crearIniciarCarrito">
                <a href="register">Crear Sesión</a>
                <p> | </p>
                <a href="login">Iniciar Sesión</a>
                <div class="carrito"><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </div>
        </div>

        <div class="navBar">
            <a href="">Hora de Dormir</a>
            <a href=""> Hora de jugar</a>
            <a href="">Hora de Pasear</a>
            <a href="">Hora de Comer</a>
            <a href="">Filosofia</a>
            <a href="">Contacto</a>
        </div>

    </header>
    <main>
        <p>Inicio >> Carrito de Compras</p>

        <div class="navCarrito">
            <h3>PRODUCTO</h3>
            <h3>PRECIO</h3>
            <h3>COLOR</h3>
            <h3>CANTIDAD</h3>
            <h3>SUBTOTAL</h3>
            <i class="fa-solid fa-trash-can"></i>
        </div>
        <div class="producto1">
            <div class="fotoYtexto">Babero de Silicona<img src="/imagenes/baberos-recortada.jpg" alt="baberos-silicona">
            </div>
            <h3>$2.200</h3>
            <select class="colores" name="colores" id="colores">
                <option class="rosa" value="rosa">ROSA</option>
                <option class="celeste" value="celeste">CELESTE</option>
                <option class="amarillo" value="amarillo">AMARILLO</option>
            </select>
            <h3>1</h3>
            <h3>$2.200</h3>
            <button><i class="fa-solid fa-trash-can"></i></button>
        </div>
        <div class="producto1">
            <div class="fotoYtexto">Silla de Comer<img src="/imagenes/silla-recortada.jpg" alt="silla-de-comer"></div>
            <h3>$25.000</h3>
            <select class="colores" name="colores" id="colores">
                <option class="beige" value="beige">BEIGE</option>
                <option class="azul" value="azul">AZUL</option>
                <option class="rosa" value="rosa">ROSA</option>
            </select>
            <h3>1</h3>
            <h3>$25.000</h3>
            <button><i class="fa-solid fa-trash-can"></i></button>
        </div>
        <p class="total">TOTAL: $27.200</p>
        <div class="envio">
            <h3>FORMA DE ENVÍO<h3>
            <select name="formaEnvio" id="formaEnvio">
                <option value="correArgentino">Correo Argentino</option>
                <option value="moto">Moto mensajería</option>
                <option value="retira">Retira en Tinokitos</option>
            </select>
        </div>
        <div class="envio">
            <h3>FORMA DE PAGO<h3>
            <select name="formaPago" id="formaPago">
                <option value="efectivo">Efectivo</option>
                <option value="tarjeta">Tarjeta de Crédito</option>
                <option value="trasnferencia">Transferencia</option>
            </select>
        </div>
        <input type="submit" value="COMPRAR" class="comprar">
        <div class="volver"><a href="index" class="volver">Volver a la Tienda</a></div>





    </main>


    <footer>
        <div class="contenedorFooter">
            <img class="logoFooter" src="./imagenes/logo.jpg" alt="logo">
            <div class="footerProductos">
                <p>Productos</p>
                <a href="#">Hora de Dormir</a>
                <a href="#">Hora de jugar</a>
                <a href="#">Hora de Pasear</a>
                <a href="#">Hora de Comer</a>
            </div>
            <div class="footerNosotros">
                <p>Nosotros</p>
                <a href="#">Filosofía</a>
            </div>
            <div class="footerContacto">
                <p>Contacto</p>
                <a href="#">Contacto</a>
            </div>
            <div class="footerContactanos">
                <p>Contactanos!</p>
                <div>Tel: 11-5566-5566<br>
                    Av. Alvear 1234<br>
                    hola@tinokitos.com.ar</div>
            </div>
            <div class="footerRedes">
                <p>Seguinos en redes!</p>
                <div class="iconosFooter"><i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-pinterest"></i>
                </div>
            </div>

    </footer>

</body>


</html>