


  <%- include("./partials/head") %>

    <link rel="stylesheet" href="css/stylesProductDetail.css">
    <title>Tinokitos Productos Detalle</title>
</head>

<body>
    <%-include("./partials/header")%>
    <main>
        <div class="dondeEstoy">
            <p>Inicio > Hora de Pasear > Cochecitos > Cochecito Premium 3 en 1</p>
        </div>
        <div class="cuadrado-foto">
            <img class="coche-premium" src="/imagenes/cochePremium.jpg">
        </div>

        <div class="titulo-producto">
            <h2> Cochecito Premium 3 en 1</h2>

        </div>
        <p>$75.700</p>
        <div class="precio-cuotas">
            <i class="fas fa-credit-card"></i>
            <p>6 cuotas sin interés de $12.616</p>
        </div>
        <div class="cantidad-producto">
            <label>Cantidad:</label>
            <select name="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div>
            <button type="agregar-producto">Agregar al carrito</button>
        </div>
        <div>
            <h3> Descripcion</h3>
            <p>* Convertible en moisés y asiento, el asiento se trasforma en moisés adaptándose a las diferentes etapas del bebé, se usa mirando hacia delante como hacia atrás, y en ambas modalidades, como asiento o como moisés
                * Ideal de 0 hasta 36 meses de edad.
                * Posee amortización en el cuadro y en las ruedas.
                * Respaldo de asiento reclinable, 3 posiciones de reclinado en ambos sentidos.
                * Incluye cubre pies, mosquitero., posa vaso, acolchado, canasto porta objetos.
                * Manillar regulable en altura con lazo de seguridad.
                * Rudas delanteras móviles.
                * Ruedas traseras todo terreno, de goma maciza con freno centralizado.
                * Amortiguación en ruedas y estructura.
                * Las ruedas delanteras y traseras pueden ser retiradas de manera sencilla, gracias a su botón, para que puedas guardar el coche ocupando el menor espacio posible.
                * El manillar del coche puede regularse en 3 posiciones
                * La parte trasera del asiento cuenta con un visor de malla, para ver a tu bebé durante el paseo con el asiento orientado hacia delante.
                * Capota XXL con borde reforzado y visera, para proteger a tu bebé de los rayos solares
                * Sistema de seguridad arnés de 5 puntos.
                * Barral frontal extraíble.
                * Materiales de calidad.</p>
        </div>






    </main>

    <%-include("./partials/footer")%>

</body>


</html>