<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesProductoEliminado.css">
    <title>Producto Eliminado</title>
    </head>

    <body>
        <a href=""><i class="fa-solid fa-circle-user"></i></a>
        <br>
        <br>
<div>
            <p>Eliminaste el producto!</p>
     <br>
     <br>
     <br>
     <a href="../productListAdministrador"><button>VOLVER A ADMINISTRADOR</button></a>

    </div>
    </body>

    </html>