   
   
   
   <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <title>Tinokitos Register</title>
</head>

<body>
    <%-include("./partials/header")%>

    <main class="organizando">
        <section class="contenedor1">
            <img src=".\imagenes\registro.jpg">
        </section>
        <section class="contenedor2">
            <form action="/usuarios/register" method="POST">
                <div>
                    <h4 class="formato"> NOMBRE Y APELLIDO</h4>
                    <input class="registro1" type="text" name="nombre" placeholder="Nombre y Apellido">
                    <h4 class="formato"> MAIL </h4>
                    <input class="registro1" type="email" name="email" placeholder="E-mail">
                    <h4 class="formato">TELÉFONO</h4>
                    <input class=registro1 type="number" name="telefono" placeholder="Telefono">
                    <h4 class="formato">CONTRASEÑA</h3>
                        <input class="registro1" type="password" name="contraseña">
                        <h4 class="formato">CONFIRMAR CONTRASEÑA</h3>
                            <input class="registro1" type="password" name="confirmarContraseña">
                </div>
                <div>
                    <label class="formato2"><input type="radio" name="notificaciones"><strong> Quiero recibir
                        notificaciones</strong></label>
                    <br>
                    <br>
                    <br>
                    <label class="formato2"><input type="radio" name="compradorAdministrador" value="comprador">
Quiero comprar<input type="radio" name="compradorAdministrador" value="Administrador">Soy Administrador</label>
                </div>
                <br>
                <div class="formato3">
                    
                    <input class="cuenta" type="submit" value="Crear cuenta">
                    <input class="borrar" type="reset" value="Borrar">
                    <input class="volver" type="submit" value="Volver al inicio"><a href="/"></a>
                </div>
                </form>
                
            <div class="iniciar">
                <h4>¿Ya tenes una cuenta?</h4>
                <a href="/usuarios/login"><h4 class="subrayado">Iniciar sesión</h4></a>
            </div>
        </section>
    </main>
    <%-include("./partials/footer")%>

</body>


</html>