<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesRegister.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>Tinokitos Home</title>
</head>

<body>
    <header>
        <div class="presentacion">
            <p>Bienvenidos ❤!! Hacemos envios a todo el país - 5% off pagando por transferencia - 3 cuotas sin interés
            </p>
        </div>

        <div class="navSuperiorMovile">
            <div class="menu"><i class="fa-solid fa-bars"></i>
                <p>MENÚ</p>
            </div>
            <img src="imagenes/logo achicado.jpg" alt="logo">
            <div class="lupaYCarrito">
                <div class="buscarMovil"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
            </div>
        </div>

        <div class="navSuperiorDesktop">
            <div class="buscar"><input type="text" placeholder="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <a href="/"><img src="imagenes/logo achicado.jpg" alt="logo"></a>
            <div class="crearIniciarCarrito">
                <a href="register">Crear Sesión</a>
                <p> | </p>
                <a href="login">Iniciar Sesión</a>
                <div class="carrito"><a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </div>
        </div>

        <div class="navBar">
            <a href="">Hora de Dormir</a>
            <a href=""> Hora de jugar</a>
            <a href="">Hora de Pasear</a>
            <a href="">Hora de Comer</a>
            <a href="">Filosofia</a>
            <a href="">Contacto</a>
        </div>

    </header>

    <main class="organizando">
        <section class="contenedor1">
            <img src=".\imagenes\registro.jpg">
        </section>
        <section class="contenedor2">
            <form action="/registro" method="GET">
                <div>
                    <h4 class="formato"> NOMBRE </h4>
                    <input class="registro1" type="text" name="name" placeholder="Nombre y Apellido">
                    <h4 class="formato"> MAIL </h4>
                    <input class="registro1" type="email" name="email" placeholder="E-mail">
                    <h4 class="formato">TELEFONO</h4>
                    <input class=registro1 type="number" name="telefono" placeholder="Telefono">
                    <h4 class="formato">CONTRASEÑA</h3>
                        <input class="registro1" type="password" name="contraseña">
                        <h4 class="formato">CONFIRMAR CONTRASEÑA</h3>
                            <input class="registro1" type="password" name="contraseña">
                </div>
                <div>
                    <label class="formato2"><input type="radio" name="notificaciones"><strong></strong> Quiero recibir
                        notificaciones</strong></label>
                    <br>
                </div>
                <br>
                <div class="formato3">
                    
                    <input class="cuenta" type="submit" value="Crear cuenta"><a href="/login"></a>
                    <input class="borrar" type="reset" value="Borrar">
                    <input class="volver" type="submit" value="Volver al inicio"><a href="/"></a>
                </div>
                </form>
                
            <div class="iniciar">
                <h4>¿Ya tenes una cuenta?</h4>
                <h4 class="subrayado">Iniciar sesión</h4>
            </div>
        </section>
    </main>

    <footer>
        <div class="contenedorFooter">
            <img class="logoFooter" src="./imagenes/logo.jpg" alt="logo">
            <div class="footerProductos">
                <p>Productos</p>
                <a href="#">Hora de Dormir</a>
                <a href="#">Hora de jugar</a>
                <a href="#">Hora de Pasear</a>
                <a href="#">Hora de Comer</a>
            </div>
            <div class="footerNosotros">
                <p>Nosotros</p>
                <a href="#">Filosofía</a>
            </div>
            <div class="footerContacto">
                <p>Contacto</p>
                <a href="#">Contacto</a>
            </div>
            <div class="footerContactanos">
                <p>Contactanos!</p>
                <div>Tel: 11-5566-5566<br>
                    Av. Alvear 1234<br>
                    hola@tinokitos.com.ar</div>
            </div>
            <div class="footerRedes">
                <p>Seguinos en redes!</p>
                <div class="iconosFooter"><i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-pinterest"></i>
                </div>
            </div>

    </footer>

</body>


</html>