<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesProductoEliminado.css">
    <title>S칩lo Usuarios</title>
    </head>

    <body>
<div>
    <p>A esta p치gina s칩lo podr치n acceder los Usuarios</p>
     <br>
     <br>
     <img src="../imagenes/bebeAdministrador.jpg" alt="bebeAdministrador" class="bebe">
     <br>
     <a href="/usuarios/register"><button>REGISTRATE!</button></a>
    </div>
    </body>

    </html>