<%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/stylesProductoEliminado.css">
    <title>S칩lo administrador</title>
    </head>

    <body>
<div>
    <p>A esta p치gina s칩lo podr치 acceder el Administrador</p>
     <br>
     <br>
     <img src="../imagenes/bebeAdministrador.jpg" alt="bebeAdministrador" class="bebe">
     <br>
     <a href="/"><button>VOLVER A LA TIENDA</button></a>

    </div>
    </body>

    </html>