@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,300&family=Roboto:ital,wght@1,300&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #fff8f6;
    font-family: 'Fraunces', serif;
}

.presentacion {
    background-color: #f0bc68;
    text-align: center;
    justify-content: space-between;
    width: 100vw;
}

.navSuperiorMovile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.navSuperiorMovile img {
    width: 200px;
    margin: center;
}

.navSuperiorDesktop {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 8px;
}

.navSuperiorDesktop img {
    width: 300px;
    margin: center;
}

.crearIniciarCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    color: #686f6a;
    text-decoration: none;
}

.crearIniciarCarrito a:link {
    color: #686f6a;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu i {
    background-color: #c4d8d1;
    color: #686f6a;
    border-radius: 20%;
    width: 30px;
    font-size: 30px;
}

.lupaYCarrito {
    display: flex;
    justify-content: space-between;
}

.lupaYCarrito a:link {
    color: #686f6a;
    text-decoration: none;
}

.navBar {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #c4d8d1;
    color: #686f6a;
    font-size: 26pt;
    font-weight: bold;
    font-style: normal;
}

.navBar a {
    color: #686f6a;
    text-decoration: none;
}

footer {
    background-color: #c4d8d1;
    width: 100vw;
}

.contenedorFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContactanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerRedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    color: #686f6a;
}

.iconosFooter i {
    font-size: 25px;
}

.contenedorFooter p {
    font-size: 20pt;
    color: #ffffff;
    font-style: normal;
    line-height: 2px;
}

.footerContactanos div {
    color: #686f6a;
    text-align: center;
}

.contenedorFooter a {
    color: #686f6a;
    text-decoration: none;
}

.logoFooter {
    display: none;
}

.banner-desktop {
    display: none;
}

.banner-cel {
    width: 100vw;
    display: block;
}


.contenedor-imagenes-cel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagenes-desktop {
    display: none;
}

.producto {
    position: relative;

}

.producto img {
    width: 70vw;
    height: 100%;
    padding: 20px 15px;
    display: flex;

}

.producto h1 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: Fraunces semibold;
    font-size: 22px;
    width: 100%;
    margin: center;
    padding: 10px;
    position: absolute;
    top: 10%;
    text-align: center;
}

.producto h3 {
    color: white;
    font-size: 15px;
    line-height: 23px;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: center;
    padding: 15px;
    position: absolute;
    left: 2%;
    top: 25%;
    text-align: center;
}


.boton-ver {
    background-color: #f0bc68;
    color: black;
    font-weight: bold;
    border-color: white;
    font-size: 15px;
    padding: 0 40px;
    bottom: 10%;
    position: absolute;
    text-align: center;
    left: 28%;
    border-radius: 5px;
    transition: all 450ms;
}
.boton-ver:hover{
    text-decoration: none;
    color: white;
}


.boton {
    width: 40vw;
    background-color: #f0bc68;
    color: white;
    margin-left: 30%;
    margin-top: 5%;
    border-color: white;
    font-family: "Fraunces semibold";
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 450ms;
}
.boton:hover{
    text-decoration: none;
    color: #686f6a;
}
.contenedor-productos-cel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-productos-desktop {
    display: none;
}

.ventas img {
    width: 60vw;
    height: 100%;
    padding: 20px 15px;
    display: flex;
}

.productos-destacados-desktop {
    display: none;
}

.productos-destacados-cel {
    font-size: 15px;
    color: #686f6a;
    text-align: center;
    font-family: "Fraunces semibold";
}

.texto {
    color: #686f6a;
    text-align: center;
    margin: center;

}

.segundo-contenedor-productos-desktop {
    display: none;
}


@media (min-width:480px) {

   
    .producto h1 {
        font-size: 30px;
    }

    .producto h3 {
        font-size: 18px;
        top: 35%;
    }

    .boton-ver {
        font-size: 20px;
        justify-content: center;
    }

    .boton {
        width: 50vw;
        margin-left: 25%;
        margin-top: 5%;
        font-size: 20px;

    }

}


@media (min-width:769px) {
    .navSuperiorDesktop {
        display: flex;

    }

    .navSuperiorMovile {
        display: none;
    }

    .navBar {
        display: flex;
        font-size: 20px;
    }

    .logoFooter {
        display: flex;
        width: 10%;
        align-self: center;
    }

    .contenedorFooter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    .contenedorFooter p {
        font-size: 16px;
    }

    .banner-cel {
        display: none;
    }

    .banner-desktop {
        display: initial;
        display: flex;
        width: 100%;
    }
    article {
        max-width: 22%;
    }
    .contenedor-imagenes-cel {
        display: none;
    }

    .contenedor-imagenes-desktop {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .producto img {
        width: 100%;
    }

    .producto h1 {
        font-size: 22px;
        margin-top: auto;
    }

    .producto h3 {
        font-size: 13px;
        top: 20%;
    }

    .boton-ver {
        font-size: 13px;
        left: 30%;
        text-align: center;
    }

    .boton {
        width: 30vw;
        margin-left: 35%;
        margin-top: 5%;
        font-size: 20px;
        padding: 10px 10px;
    }

    section .ofertas {
        display: flex;
    }

    .productos-destacados-cel {
        display: none;
    }

    .productos-destacados-desktop {
        display: initial;
        font-size: 20px;
        color: #686f6a;
        text-align: center;
        font-family: "Fraunces semibold";
    }

    .contenedor-productos-cel {
        display: none;
    }

    .contenedor-productos-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
    }

    .ventas-desktop img {
        box-sizing: border-box;
        width: 90%;
        height: 60%;
        margin: 15px;
    }

    .texto {
        font-style: bold;
        font-size: 15px;
    }

}




@media (min-width:1200px) {
    .navBar {
        font-size: 26px;
    }

    .contenedorFooter p {
        font-size: 20px;
    }


}